global:
  scrape_interval:     5s
  evaluation_interval: 5s

scrape_configs:
  - job_name: 'postfix'
    scrape_interval: 5s
    static_configs:
      - targets: ['mailserver:9154']

  - job_name: 'dovecot'
    scrape_interval: 5s
    static_configs:
      - targets: ['mailserver:9900']

  - job_name: 'fail2ban'
    scrape_interval: 5s
    static_configs:
      - targets: ['mailserver:9191']

  - job_name: 'pushgateway'
    scrape_interval: 5s
    static_configs:
      - targets: ['mailserver-prometheus-pushgateway:9091']
