BaseDirectory          /host/run/opendkim

Mode                   sv

LogResults             yes
LogWhy                 yes
Syslog                 yes
SyslogSuccess          yes

Selector                ${DKIM_KEY_SELECTOR}
KeyTable                /etc/opendkim/keytable
SigningTable            refile:/etc/opendkim/signingtable

Canonicalization        relaxed/simple

Socket                  inet:8891@localhost
umask                   002

ReportAddress           ${ADMIN_EMAIL}
SendReports             yes

PidFile                /run/opendkim.pid

ExternalIgnoreList      refile:/etc/opendkim/TrustedHosts
InternalHosts           refile:/etc/opendkim/TrustedHosts

Syslog                  Yes
SyslogSuccess           Yes
