[Unit]
Description=Mailserver monitoring umbrella service
Requires=mailserver.service
After=mailserver.service

[Service]
Type=oneshot
WorkingDirectory=/opt/mailserver
ExecStart=/opt/mailserver/systemd/wait_for_container.sh "mailserver"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
