[Unit]
Description=Mailserver monitoring docker containers
Requires=mailserver.service
After=mailserver.service

[Service]
Restart=always
WorkingDirectory=/opt/mailserver
ExecStart=/opt/mailserver/start_monitoring.sh
ExecStop=docker stop -t 2 mailserver-monitoring-grafana mailserver-prometheus mailserver-prometheus-pushgateway


[Install]
WantedBy=network.service
WantedBy=multi-user.target
