##
## SSL settings
##

ssl = required

ssl_server_cert_file= /etc/letsencrypt/live/${HOSTNAME}/fullchain.pem
ssl_server_key_file = /etc/letsencrypt/live/${HOSTNAME}/privkey.pem

ssl_server_dh_file = /etc/dovecot/dh.pem

ssl_server_prefer_ciphers = server
